<div class="card" style="width: 18rem; height: 10rem">
    <div class="card-body">
        <h5 class="card-title">
            {{name.rank}}:
            <a href="{% url 'app:baby_name_detail' name.name %}">{{ name.name }}</a>
            <span class="heart" id="{{ name.name }}">
                {% if name.name in favorites %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
            </span>
        </h5>
        {% for tag in name.tags %}
        {% if tag.value != 'nan' %}
            <span class="badge badge-pill badge-primary">
                {% if tag.value == True %}
                    {{ tag.key|title }}
                {% else %}
                    {{ tag.value|title }}
                {% endif %}</span>
        {% endif %}
        {% endfor %}
        <p class="card-text">
            {% if name.description|length > 5 %}
                {{ name.description|truncatechars:60 }}
            {% else %}
                Currently processing {{name.name}}, check back later.
            {% endif %}
        </p>
    </div>
  </div>