{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <title>{{ baby_name_data.name }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ baby_name_data.name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Gender</th>
                    <td>{{ baby_name_data.gender }}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{ baby_name_data.year }}</td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{ baby_name_data.count }}</td>
                </tr>
                <tr>
                    <th>Rank</th>
                    <td>{{ baby_name_data.rank }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <h2>Famous People</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Wikipedia Link</th>
            </tr>
        </thead>
        <tbody>
            {% for person in famous_people %}
            <tr>
                <td>{{ person.description }}</td>
                <td><a href="{{ person.wikipedia_link }}">Wikipedia</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <h2>Famous People</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for row in baby_name_usage_data %}
            <tr>
                <td>{{ row.year }}</td>
                <td>{{ row.rank }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>