{% extends "app/base.html" %}
{% load static %}

{% block title %}
    <title>Top Baby Names - BabyNamer.AI</title>
{% endblock %}


{% block content %}
  <table>
  <tbody>
      {% for name_row in page_obj %}
        <tr>
            {% for name in name_row %}
            <td>
                {% include "app/baby_name_card.html" %}
            </td>
            {% endfor %}
        </tr>
      {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <div class="btn-group" role="group" aria-label="Item pagination">

    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="?page=1"  class="btn btn-outline-primary">first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
    </span>
        </div>
</div>
{% endblock %}
